:root {
  /* anchor links animation */
  scroll-behavior: smooth;
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --main-txt-cl: #303030;
  --secondary-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  /* Bg colors */
  --main-bg-cl: #111319;
  --secondary-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;
  /* Common colors */
  --light-gray-cl: #555555;
  --gray-cl: #9da4bd;
  --gray-cl-60: rgba(157, 164, 189, 0.6);
  /* Others */
  --indent: 30px;
  --items: 1;

  --header-idx: 10;
  --modal-idx: 100;

  --anim-fast: 400ms ease-in;
  --anim-slow: 1000ms ease-in-out;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
svg {
  fill: currentColor;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.page-box {
  overflow: hidden;
}
/* reset end */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*
  outline: 2px solid red;
  outline-offset: -2px; */
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.uppertitle-light {
  color: var(--gray-cl-60);
}
.uppertitle-light::before {
  background-color: var(--gray-cl-60);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light {
  margin-bottom: 44px;

  color: var(--secondary-txt-cl);
}
.undertitle {
  margin-bottom: 20px;

  color: var(--light-gray-cl);
}
/* Normal state */
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: currentColor;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}
/* Active state */
.btn:hover,
.btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: var(--secondary-txt-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  position: fixed;
  top: 0;
  z-index: var(--header-idx);

  width: 100%;
  padding: 22px 0;

  transition: background-color var(--anim-fast), backdrop-filter var(--anim-fast);
}
.header.no-transparency {
  background-color: rgba(17, 19, 25, 0.3);
  backdrop-filter: blur(2px);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-img {
  transition: fill var(--anim-fast);
}
.header.no-transparency .header-img {
  fill: var(--secondary-bg-cl);
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link {
  position: relative;

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  transition: color var(--anim-fast);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-nav-link::after {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  transition: background-color var(--anim-fast);
}
.header-nav-link.current {
  color: var(--accent-txt-cl);
}
.header-nav-link.current::after,
.header-nav-link:hover::after,
.header-nav-link:focus::after {
  background-color: var(--accent-bg-cl);
}
.header-contact {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  transition: color var(--anim-fast);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-btn {
  margin-right: 20px;

  animation: shake-horizontal 8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 4s infinite both;
  /* animation-play-state: paused; */
}
.header-btn:hover {
  /* animation-play-state: running; */
}
@keyframes shake-horizontal {
  0%,
  20% {
    transform: translateX(0);
  }
  2%,
  6%,
  10%,
  14% {
    transform: translateX(-10px);
  }
  4%,
  8%,
  12% {
    transform: translateX(10px);
  }
  16% {
    transform: translateX(8px);
  }
  18% {
    transform: translateX(-8px);
  }
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
}
.hero-container {
  position: relative;
  display: flex;
}
.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}
.hero-media {
  transform: rotate(-90deg) translateX(40px) translateY(35px);
  transform-origin: center left;
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media:before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.media-item {
}
.media-link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color var(--anim-fast);
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
.hero-right-side {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: var(--main-bg-cl);
  background-image: url(../images/hero/slider-img-3.jpg);
  background-position: center;
  background-size: cover;

  perspective: 500px;
}
.hero-uppertitle {
  animation: move-to-bottom 800ms ease-in 1000ms both;
}
.hero-title {
  width: fit-content;
  margin-bottom: 20px;

  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);

  /* animation: move-to-left 800ms ease-in 1800ms both; */
  animation: tracking-in-contract-bck 1500ms cubic-bezier(0.215, 0.61, 0.355, 1) 1800ms both;
}
.hero-desc {
  width: 360px;
  color: var(--gray-cl);

  animation: move-to-top 800ms ease-in 2600ms both;
}
/* Animations */
@keyframes move-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes move-to-left {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes move-to-top {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 0.7em;
    transform: translateZ(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* slider styles */
.slider-pagination {
  position: absolute;
  top: 50%;
  right: 35px;
}
.slider-pagination-item {
  width: 8px;
  height: 2px;
  margin-left: auto;

  background-color: var(--gray-cl);
}
.slider-pagination-item:not(:last-child) {
  margin-bottom: 12px;
}
.slider-pagination-item.active {
  width: 18px;
  background-color: var(--secondary-bg-cl);
}
.slider-controls {
  position: absolute;
  bottom: 40px;
  right: 35px;

  display: flex;
  align-items: center;
  gap: 24px;
}
.slider-controls-item {
}
.slider-controls-btn {
  width: 60px;
  padding: 0;
  padding-bottom: 8px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  border: none;
  border-bottom: 1px solid var(--secondary-bg-cl);
  background-color: transparent;
}
.slider-controls-btn[disabled] {
  color: var(--gray-cl-60);
  border-color: var(--gray-cl-60);
}
.slider-controls-btn.prev {
  text-align: left;
}
.slider-controls-btn.next {
  text-align: right;
}
/**
  |============================
  | About styles
  |============================
*/
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
  overflow: hidden;
}
.about-img {
  transition: transform 1500ms linear;
}
.about-item:hover .about-img {
  transform: scale(1.25);
}
.about-right-side {
  width: 470px;
}
.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  color: var(--light-gray-txt-cl);
}

/**
  |============================
  | Price styles
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/price/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-list {
  display: flex;
  gap: 30px;

  margin-bottom: 44px;
}
.price-item {
}
.price-inner-list {
  width: 570px;
  padding: 30px 20px;
}
.price-item:first-child .price-inner-list {
  background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
}
.price-item:last-child .price-inner-list {
  background: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
}
.price-inner-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  margin-bottom: 20px;
  color: var(--gray-cl);
}
.price-inner-item:last-child {
  margin-bottom: 0;
}
.price-inner-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.2);
}
.price-inner-service {
  order: -1;
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-left-side {
  width: 570px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  text-align: center;
  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
}
.benefits-quantity {
  position: relative;

  display: inline-block;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;

  letter-spacing: 0.05em;
}
.benefits-quantity::after {
  content: '\002B';
  position: absolute;
  top: 7px;
  right: -15px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-txt-cl);
}
.benefits-right-side {
  width: 500px;
}
.benefits-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
/**
  |============================
  | Team styles
  |============================
*/
.team {
  background: #f7f7f7;
}
.team-title {
  margin-bottom: 44px;
}
.team-list {
  --items: 3;
}
.team-item {
}
.team-box {
  position: relative;
  overflow: hidden;
}
.team-img {
}
/* overlay slide */
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: start;

  border-radius: 10px;
  background-color: rgba(17, 19, 25, 0.2);
  backdrop-filter: blur(3px);

  transition: transform var(--anim-slow);
}
.team-item:hover .overlay {
  transform: translateY(0);
} */
/* overlay scale */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;

  width: 80%;
  height: 80%;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: start;

  border-radius: 10px;
  background-color: rgba(17, 19, 25, 0.2);
  backdrop-filter: blur(3px);

  transition: transform 600ms cubic-bezier(0.18, 0.89, 0.32, 1.28),
    opacity 600ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.team-item:hover .overlay {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.overlay-label {
  color: #f7f7f7;
  text-align: center;
}
.team-wrapper {
  padding: 30px 15px;
}
.team-subtitle {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-txt-cl);
}
/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: #fff;
  border-radius: 50%;

  transition: color var(--anim-fast), background-color var(--anim-fast);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--main-bg-cl);
  color: var(--accent-bg-cl);
}
.socials-icon {
  fill: currentColor;
}
/**
  |============================
  | Gallery styles
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}
.gallery-list {
  --items: 4;
}
/**
  |============================
  | Booking styles
  |============================
*/
.main-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/contacts/bg-img.png);
  background-repeat: no-repeat;
  background-position: center left calc(50% + 408px);
  background-size: contain;
}
.main-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.booking {
  width: 570px;
}

.booking-form {
}
.booking-form-wrapper {
  display: flex;
  gap: 30px;

  margin-bottom: 44px;
}
.booking-form-field {
  position: relative;
  flex-basis: 270px;
}
.booking-form-input {
  width: 100%;
  height: 24px;

  color: #ffffff;

  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  transition: 300ms;
}
.booking-form-input:focus,
.booking-form-input:not(:placeholder-shown) {
  border-color: #fff;
}
.booking-form-label {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transform-origin: center left;
  transition: 300ms;
}

.booking-form-input:focus + .booking-form-label,
.booking-form-input:not(:placeholder-shown) + .booking-form-label {
  transform: translateY(-100%) scale(0.8);
  color: #fff;
}
.booking-form-message {
}
.btn {
}
.btn-light {
}
/**
  |============================
  | Contacts styles
  |============================
*/
.contacts {
  width: 570px;
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 72px;

  font-style: normal;
  color: var(--gray-cl);
}
.contacts-list {
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin-bottom: 0;
}
.contacts-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.contacts-item:first-child .contacts-link {
  font-weight: 700;
}
.contacts-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--gray-cl-60);
}
.contacts-schedule {
  color: var(--gray-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-cl);
}
.footer-link {
  padding-top: 52px;
  padding-bottom: 52px;
}

/**
  |============================
  | Modal styles
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--modal-idx);

  width: 100%;
  height: 100%;

  background-color: rgba(17, 19, 25, 0.2);
  backdrop-filter: blur(4px);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 200ms ease, visibility 200ms ease, backdrop-filter 200ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  backdrop-filter: blur(0);

  transition-delay: 400ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  opacity: 1;

  width: 450px;
  min-height: 550px;
  padding: 24px;

  background-color: var(--secondary-bg-cl);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  transition: transform 400ms ease-in 200ms, opacity 400ms ease-in 200ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
  opacity: 0;
}
.modal-close-btn {
  position: absolute;
  top: -15px;
  right: -15px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  color: var(--secondary-bg-cl);

  background-color: #ff6c00;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}
.modal-title {
  display: block;
  margin-bottom: 14px;

  font-size: 16px;
  text-align: center;
}
.modal-form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;

  transition: var(--anim-fast);
}
/* .modal-form:focus-within .modal-form-label {
  color: #ff6c00;
} */
.modal-form-field {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-input {
  width: 100%;
  height: 46px;
  padding: 0 38px;

  border: 1px solid var(--main-bg-cl);
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: var(--anim-fast);
}
.modal-form-input:focus {
  outline-color: var(--accent-bg-cl);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  transition: var(--anim-fast);
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-bg-cl);
}
.modal-form-message {
  margin-bottom: 20px;

  display: block;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  padding: 10px;

  font-size: 12px;
  border: 1px solid var(--main-bg-cl);
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: var(--anim-fast);

  /* resize: vertical; */
  resize: none;
}
.modal-form-message::placeholder {
  color: #9da4bd;
}
.modal-form-message:focus {
  outline-color: var(--accent-bg-cl);
  box-shadow: 0 0 0 4px rgba(255, 108, 0, 0.25);
}
.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 20px;
}
.modal-form-agreement-box {
  appearance: none;
  width: 18px;
  height: 18px;

  border: 2px solid var(--main-bg-cl);
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;

  transition: background-color var(--anim-fast), border-color var(--anim-fast),
    background-size var(--anim-fast) 250ms;
  cursor: pointer;
}
.modal-form-agreement-box:checked {
  background-color: var(--accent-bg-cl);
  border-color: var(--accent-bg-cl);
  background-size: 10px;

  transition-delay: 250ms, 250ms, 0;
}
.modal-form-agreement-unchecked {
  opacity: 1;
  transition: var(--anim-fast);
}

input[type='checkbox']:checked + .modal-form-agreement-icon > .modal-form-agreement-unchecked {
  opacity: 0;
}

.modal-form-agreement-checked {
  opacity: 0;
  transition: var(--anim-fast);
}
input[type='checkbox']:checked + .modal-form-agreement-icon > .modal-form-agreement-checked {
  opacity: 1;
}

.modal-form-agreement-text {
  font-size: 14px;
}
.modal-form-agreement-link {
  color: var(--accent-txt-cl);
}
.modal-btn {
  display: block;
  margin: 0 auto;
}
