/**
  |============================
  | Base styles
  |============================
*/
body {
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}
.header-logo {
}
.header-img {
}
.header-nav {
}
.header-list {
}
.header-item {
}
.header-link:hover,
.header-link:focus {
}
.header-contact {
}
.header-btn {
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
}
.hero-list {
}
.hero-item {
}
.hero-link {
}
.hero-uppertitle {
}
.hero-title {
}
.hero-underitle {
}
.hero-slider {
}
.hero-slider-item {
}
.hero-slider-btn {
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer-logo {
}
