:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --main-txt-cl: #303030;
  --secondary-txt-cl: #ffffff;
  --accent-txt-cl: #ff6c00;
  /* Bg colors */
  --main-bg-cl: #111319;
  --secondary-bg-cl: #ffffff;
  --accent-bg-cl: #ff6c00;
  /* Common colors */
  --light-gray-cl: #555555;
  --gray-cl: #9da4bd;
  --gray-cl-60: rgba(157, 164, 189, 0.6);
  /* Others */
  --indent: 30px;
  --items: 1;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  color: currentColor;
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}
/* reset end */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*
  outline: 2px solid red;
  outline-offset: -2px; */
}

.uppertitle {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.uppertitle::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.uppertitle-light {
  color: var(--gray-cl-60);
}
.uppertitle-light::before {
  background-color: var(--gray-cl-60);
}

.title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.title-light {
  margin-bottom: 44px;

  color: var(--secondary-txt-cl);
}
.undertitle {
  margin-bottom: 20px;

  color: var(--light-gray-cl);
}
.btn {
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: currentColor;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}
.btn:hover,
.btn:focus {
  color: var(--secondary-txt-cl);
  background-color: var(--accent-bg-cl);
}
.btn-light {
  color: var(--secondary-txt-cl);
}
/**
  |============================
  | Card set
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
  padding: 22px 0;
  background-color: var(--main-bg-cl);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 124px;
}
.header-img {
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt-cl);
}
.header-contact {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 40px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-txt-cl);
}
.header-btn {
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  background-color: var(--main-bg-cl);
}
.media {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media:before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--main-txt-cl);
}
.media-item {
}
.media-link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.media-link:hover,
.media-link:focus {
  color: var(--accent-txt-cl);
}
.hero-title {
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-txt-cl);
}
.hero-desc {
  color: var(--gray-cl);
}
/* slider styles */
.slider-controls {
}
.slider-controls-item {
}
.slider-controls-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--secondary-txt-cl);

  background-color: transparent;
}
.slider-controls-btn[disabled] {
  color: var(--gray-cl-60);
}
/**
  |============================
  | About styles
  |============================
*/
.about {
}
.about-container {
  display: flex;
  gap: 30px;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-item {
}
.about-img {
}
.about-right-side {
  width: 470px;
}
.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  color: var(--light-gray-txt-cl);
}

/**
  |============================
  | Price styles
  |============================
*/
.price {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/price/bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.price-list {
  display: flex;
  gap: 30px;

  margin-bottom: 44px;
}
.price-item {
}
.price-inner-list {
  width: 570px;
  padding: 30px 20px;
}
.price-item:first-child .price-inner-list {
  background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
}
.price-item:last-child .price-inner-list {
  background: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
}
.price-inner-item {
  display: flex;
  align-items: baseline;
  gap: 12px;

  margin-bottom: 20px;
  color: var(--gray-cl);
}
.price-inner-item:last-child {
  margin-bottom: 0;
}
.price-inner-item::before {
  content: '';

  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.2);
}
.price-inner-service {
  order: -1;
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/**
  |============================
  | Benefits styles
  |============================
*/
.benefits {
}
.benefits-container {
  display: flex;
  gap: 30px;
}
.benefits-left-side {
  width: 570px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  align-items: flex-end;

  width: 370px;
  margin-left: auto;
  margin-right: auto;
}
.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px 24px;

  background: #f7f7f7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), 6px 6px 10px rgba(255, 106, 0, 0.5),
    8px 8px 10px rgba(255, 106, 0, 0.2);
}
/* .benefits-item:nth-child(2n) {
  margin-top: 30px;
  margin-left: 30px;
} */
.benefits-item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 30px;
}
.benefits-right-side {
  width: 500px;
}
.benefits-quantity {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-quantity::after {
  content: '\002B';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--accent-txt-cl);
}
.benefits-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
/**
  |============================
  | Team styles
  |============================
*/
.team {
  background: #f7f7f7;
}
.team-title {
  margin-bottom: 44px;
}
.team-list {
  --items: 3;
}
.team-item {
}
.team-img {
}
.team-wrapper {
  padding: 30px 15px;
}
.team-subtitle {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}
.team-position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-txt-cl);
}
/* Socials icons */
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: #fff;
  border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--main-bg-cl);
  color: var(--accent-bg-cl);
}
.socials-icon {
  fill: currentColor;
}
/**
  |============================
  | Gallery styles
  |============================
*/
.gallery-uppertitle {
  margin-bottom: 44px;
}
.gallery-list {
  --items: 4;
}
/**
  |============================
  | Booking styles
  |============================
*/
.main-wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-bg-cl);
  background-image: url(../images/contacts/bg-img.png);
  background-repeat: no-repeat;
  background-position: center left calc(50% + 408px);
  background-size: contain;
}
.main-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.booking {
  width: 570px;
}
/**
  |============================
  | Contacts styles
  |============================
*/

.contacts {
  width: 570px;
  padding-left: 100px;
}
.contacts-address {
  margin-bottom: 72px;

  font-style: normal;
  color: var(--gray-cl);
}
.contacts-list {
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-item:last-child {
  margin-bottom: 0;
}
.contacts-item:first-child .contacts-link {
  font-weight: 700;
}
.contacts-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--gray-cl-60);
}
.contacts-schedule {
  color: var(--gray-cl);
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-cl);
}
.footer-link {
  padding-top: 52px;
  padding-bottom: 52px;
}

/**
  |============================
  | Customers styles
  |============================
*/

.clients-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 168px;
  height: 88px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: 400ms;
}
.clients-link:hover,
.clients-link:focus {
  border-color: #404bbf;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.clisent-icon {
}
