/**
  |============================
  | Якщо плануємо підлючати сторонні бібліотеки
  |============================
*/
/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */

/**
  |============================
  | Якщо не плануємо підлючати сторонні бібліотеки
  |============================
*/
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
}
/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* reset end */

h1 {
  text-transform: uppercase;
}

ul {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.block,
.block-1 {
  width: 400px;
  /* height: 100px; */

  padding: 20px;
  /* padding: 20px 40px; */

  /* padding-left: 40px; */

  /* margin: 30px 50px; */

  /* margin-left: -20px; */

  /* margin: 50px;
  margin-left: 30px; */
  margin-left: auto;
  margin-right: auto;

  border: 10px solid red;
  border-radius: 40px;

  /* border-width: ;
  border-style: ;
  border-color: ; */

  /* border-top: 10px dashed violet;
  border-bottom: 5px solid teal;
  border-right: 40px solid transparent;
  border-left: 20px dotted red; */
}

.circle {
  width: 400px;
  height: 400px;
  background-color: yellow;
  border-radius: 50%;
}

.block {
  margin-bottom: 150px;
}
.block-1 {
  /* margin-top: 100px; */
}

.section-1 {
  background-color: lightblue;
}
.section-2 {
  background-color: lightgreen;
}

article {
  width: 800px;

  padding: 0 15px;
  /* центрування блокових елементів */
  margin: 0 auto;

  border: 2px solid red;
}

h1 {
  /* width: 300px;
  margin: 0 auto;

  text-align: center; */
  /* outline: 2px dashed teal; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Article styles
  |============================
*/
img {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 30px;
}

ul {
  margin-bottom: 40px;
  outline: 2px solid red;
  outline-offset: -2px;
}

li {
  background-color: aquamarine;
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}

/* li:nth-child(3) {
  background-color: lightcoral;
} */
/* li:nth-child(n + 3) {
  background-color: lightcoral;
} */
/*
li:nth-child(-n + 3) {
  background-color: lightcoral;
} */
/*
li:nth-last-child(n + 3) {
  background-color: lightcoral;
} */

/*
  :nth-child(a*n + b)
  a - період циклу
  n - лічильник (0 - кількості елементів в колекції)
  b - зміщення

*/

/* li:not(:last-child) {
  margin-bottom: 8px;
} */

li:nth-child(-n + 5),
li:nth-child(10) {
  margin-bottom: 8px;
}
li:first-child {
  margin-bottom: 0;
}
